@import "../../styles/shared";

.star--active path {
    fill: $primary-color;

}
.star--active, .star--inactive{
    margin-left: 10px;
}

.infos__wrap{
    display: flex;
}
.infos {
    &__metadata {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-grow: 1;
        padding: 15px 0;

            &__rating {
                display: flex;
                justify-content: flex-end;
                svg{
                    width: 30px;
                    height: 30px;
                }
            }

            &__host{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            p {
                color: $primary-color;
                font-size: 18px;
                padding-right: 10px;
            }
            img {
                border-radius: 50%;
                height: 64px;
            }
        }
    }
    &__header {
        display: flex;
        flex-direction: column;
        flex-grow: 2;

        &__tags {
            padding: 25px 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__title {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            h1{
                font-size: 36px;
                text-align: left;
                color: $primary-color;
                font-weight: 500;
                margin: 10px 0;
                display: flex;
                justify-content: flex-start;
            }
            p {
                font-size: 18px;
                color: $primary-color;
                display: flex;
                justify-content: flex-start;
            }
        }
        
        
    }
    &__detail {
        display: flex;
        padding-bottom: 15px;
        &__description{
            margin-right: 35px;
            width: 50%;
        }
        &__equipement{
            margin-left: 35px;
            width: 50%;
        }
    }
}

@media screen and (max-width: 767px)
{
    .infos{

        &__header{
            &__title{
                h1{
                    font-size: 28px;
                }
                p{
                    font-size: 15px;
                }
            }
            &__tags{
                padding: 15px 0;
            }
        }
        
        &__wrap{
        display: flex;
        flex-direction: column;
        }

        &__metadata{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            padding: 0 0 15px 0;
            &__rating {
                svg{
                    width: 25px;
                    height: 25px;
                }
            }
            &__host{
                p {
                    font-size: 15px;
                }
                img {
                    border-radius: 50%;
                    height: 32px;
                }
            }
        }

        &__detail{
            display: flex;
            flex-direction: column;
            &__description{
                width: 100%;
                margin: 0;
                padding: 10px 0 25px 0;
            }
            &__equipement{
                width: 100%;
                margin: 0;
            }
        }
    }
}