@import "../../styles/shared";

.banner {

    padding: 63px 100px 43px 100px;
    position: relative;

    &__color {
        background-color: #000000;
        width: 100%;
        border-radius: 28px;
        height: 223px;
    }

    img {

        border-radius: 25px;
        width: 100%;
        opacity: 90%;
        height: 223px;
        object-fit: cover;
    }

    p {
        color: white;
        font-size: 48px;
        font-weight: 500;
        position: absolute;
        left: 10%;
        right: 10%;
        top: 45%;

    }
}

.logements{
    background-color: $secondary-color;
    border-radius: 25px;
    margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 25px;

    &__item{
        padding: 25px;
}
}