@import "../../styles/shared";

.layout--wrapper {
    display: inline-block;
    max-width: 1240px;
    margin: 0 100px;
    min-height: calc(100% - 220px);
}

@media screen and (max-width: 767px)
{
    .layout--wrapper{
        margin: 0 20px;
    }

}