@import "../../styles/shared";

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header__logo {
        width: 210.32px;
        margin: 5% 0 0 8%;
    }
    .header__nav {
        padding: 57px 100px 0 0;
        ul{
            display: flex;
            flex-direction: row;
            align-content: space-between;
            li{
                list-style: none;
                padding-left: 57px;
                font-size: 24px;
                color: $primary-color;
            }
        }
        a {
            text-decoration: none;
            color: $primary-color;
        }
        a:hover {
            border-bottom: 3px solid;
        }
    }
}

@media screen and (max-width: 767px)
{
    header{

        .header__nav{
            ul{
                li{
                    font-size: 12px;
                }
            }
        }
    }
    
}