@use 'styles/normalize.css';
@use 'styles/_shared.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100%;
}

html{
  height: 100%;
}
body{
  height: 100%;
}
#root{
  height: 100%;
}

@media screen and (max-width: 767px)
{
  .App{
    min-height: 100%;
  }
}