@import "../../styles/shared";

.error{
    &__title{
        font-weight: 700;
        font-size: 288px;
        color: $primary-color;
        margin: 186px 0 66px 0;
    }
    &__content{
        font-weight: 500;
        font-size: 36px;
        color: $primary-color;
        margin: 0 50px 186px 50px;
    }
    &__nav{
        font-weight: 500;
        font-size: 18px;
        color: $primary-color;
        margin-bottom: 160px;
        a:visited {
            color: $primary-color;
        }
    }
}

@media screen and (max-width: 767px)
{
    .error{
        &__title{
            font-size: 96px;
        }
        &__content{
            font-size: 18px;
            margin: 0 50px 186px 50px;
        }
        &__nav{
            font-size: 14px;
        }
    }
}